// general
@import "libs/normalize.scss";
@import "fonts.scss";
@import "mixins/mixins.scss";
@import "ds-system/ds.scss";
@import "visually-hidden.scss";
@import "scaffolding.scss";

// layout
@import "layout/main.scss";
@import "layout/content.scss";
@import "layout/container.scss";
@import "layout/popup.scss";

// blocks




@import "blocks/radio.scss";
@import "blocks/counter.scss";
@import "blocks/filling.scss";
@import "blocks/pizza.scss";
@import "blocks/ingredients.scss";
@import "blocks/product.scss";


@import "modlues4.scss"



